[Desktop Entry]
Type=Application
Name=Masterpiece
GenericName=Pipe organ sample player
Comment=Open-source pipe organ sample player
Exec=masterpiece %f
Icon=masterpiece
Terminal=false
Categories=AudioVideo;Audio;Music;
Keywords=organ;pipe organ;sampler;midi;
MimeType=application/x-hauptwerk-organ;application/x-grandorgue-organ;application/x-grandorgue-package;application/vnd.rar;application/x-rar;
